spring:
  application:
    name: prog-14615

  # application-dev.yml을 가르킨다. (기본값)
  profiles:
    active: dev

  output:
    ansi:
      enabled: always

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    show-sql: true  # 로그
    hibernate:
      ddl-auto: update

    # sql문 보이도록
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
